{% extends 'base.html.twig' %}

{% block title property.title %}

{% block body %}

    <div class="jumbotron">
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-4">
                <h1>{{ property.title }}</h1>
                <h2>{{ property.rooms }} pièces - {{ property.surface }} m2</h2>
                <p class="text-primary">{{ property.formatedPrice }} €</p>
                <a href="#">Contacter l'agence</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>{{ property.description | nl2br }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h2>Caractéristiques</h2>
                <table class="table-striped table">
                    <tr>
                        <td>Surface habitable</td>
                        <td>{{ property.surface }}</td>
                    </tr>
                    <tr>
                        <td>Pièces</td>
                        <td>{{ property.rooms }}</td>
                    </tr>
                    <tr>
                        <td>Etages</td>
                        <td>{{ property.floor }}</td>
                    </tr>
                    <tr>
                        <td>Chauffage
                        </td>
                        <td>{{ property.heatType }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>
{% endblock %}